<%- include("partials/header"); -%>
<h1>compose</h1>
<form action="/compose" method="post">
<div class="form-group"></div>
<label>Title</label>
<input type="text" class="form-control" name="titletext" >
<label>post</label>
<textarea name="text2" class="form-control" row="10" col="40"></textarea><br>
<button class="btn btn-primary" type="submit" name="btn">publish</button>
</div >
</form>
